# rename this to .env and fill in your own keys

OPENAI_API_KEY="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"
OPENAI_ORG = "org-123"

BROWSERBASE_API_KEY="00000000-0000-0000-0000-000000000000"
BROWSERBASE_PROJECT_ID="bb_live_00000000-00000"

SCRAPYBARA_API_KEY="scrapy-123"